body{
    background-color: antiquewhite;
    color: brown;
    font-family: Papyrus, "Lucida Handwriting", monospace;
    
}



#boxes{
    display: flex;
}

#box-holder{
    height: 250px;
    width: 200px;
    padding: 5px;
    background-color: lightyellow;
    border-radius: 3px;
    margin: 5px;
}

.box{
    height: 45px;
    width: 100px;
    padding: 5px;
    color: white;
    border-radius: 3px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}



#c1{
    background-color: rgb(255, 109, 109);
}

#c2{
    background-color: rgb(92, 216, 92);
}

#a1{
    background-color: rgb(255, 169, 0);
}

#a2{
    background-color: rgb(255, 210, 0);
}

#a3{
    background-color: rgb(255, 174, 110);
}

#t1{
    background-color: rgb(237, 41, 144);
}

#t2{
    background-color: rgb(91, 211, 106);
}

#t3{
    background-color: rgb(250, 255, 44);
    color: gray
}



