
body{
    background-color: bisque;
    color: navy
}
    
img{
    width: 10%;
}

h1{
    text-align: center;
}

#quote{
    font-style: italic;
}

#img-credit{
    font-size: x-small;
    font-style: italic;
}