body{
    background-color: antiquewhite;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#page-title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-card{
    background-color: beige;
   
    border-radius: 5px;
    border: 2px none lime;
    
    display: grid;
    grid-template-columns: 12.5% 12.5% 1fr 1fr 12.5% 12.5%;
    grid-template-rows: auto auto auto;

}

.character-title{
    background-color: gold;
    color: orange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40pt;
    border-radius: 3px;
    grid-column: 3 / 4;
    grid-row: 1 / 2;


}

.character-quote{
    background-color: darkred;
    font-style: italic;
    border-radius: 3px;
    grid-column: 3/4;
    grid-row: 2/3;
}

.character-description{
    background-color: grey;
    color: brown;
    border-radius: 3px;
    grid-column: 3/4;
    grid-row: 3/4;
}

.character-img{
   border: 1px solid brown;
   grid-column: 4/5;
   grid-row: 1/4;
   justify-self: center;
}
