body{
    background-color: antiquewhite;
    color: rgb(255, 0, 234);
    font-family: Papyrus, "Lucida Handwriting", monospace;
    
}
/*
p{
    background-color: wheat;
    height: 150px;
    width: 150px;
    padding: 10px;
    margin: 10px;
}
*/

img{
    height: 250px
}


#complementary{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    flex-wrap: wrap; 
}


#box{
   
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 5px;
    
    border-radius: 3px;
    margin: 5px;
 
}

/*
#content{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
css grid structure
flexbox to form smaller structures yas
#main{
    display: flex;
    flex-wrap: wrap;
}
#no{
    display: block;
    margin: auto;
    width: 50%;
}
*/