*{
    background-color: antiquewhite;
    color: chocolate;
    font-family: serif, sans-serif, monospace, cursive, fantasy;
    /*
    1. serif
    2. sans serif
    3. monospace
    4. cursive
    5. fantasy
    */
}